/* reset styles */
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

/* body and shared styles */
body,
.number-entry-area,
.guess-count-area {
  display: flex;
}

body,
.number-entry-area {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



body {
  background-color: #6C80C8;
  height: 100vh; 
  gap: 2rem;
}

p,
label {
  color: white;
}

label, 
p, 
button {
  font-size: 3rem;
}

/* main content styles */
h1 {
  text-align: center;
  font-size: 6rem;
  color: gold;
}

.number-entry-area {
  width: 50%;
  gap: 1rem;
}

.number-entry-area, 
.stats-area {
  display: none;
} 

#guessed-number {
  width: 13rem;
  height: 10rem;
  border-radius: 2rem;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 6rem;
}
#guessed-number::-webkit-inner-spin-button,
#guessed-number::-webkit-outer-spin-button {
  appearance: none;
}

button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-color: gold;
}
button:hover,
.new-game-btn:hover {
  background-color: white;
}
button:active,
.new-game-btn:active {
  background-color: gold;
}


.stats-area {
  gap: 4rem;
  text-align: center;
}

.stats {
  font-weight: 700;
  font-size: 6rem;
  padding: 2rem;
  border: 0.3rem solid white;
  border-radius: 2rem;
  margin-bottom: 1rem;
  width: 13rem;
  height: 11rem;
}





